.homeIconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.homeIconContainer:hover{
    
}

.iconHome {
    width: 85px;
    cursor: pointer;
  }