.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-right: -35px;
}

.cartContainer:hover{
    color: #ff8d8d;
}

.links{
    color: inherit;
}

.carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
}