.price{
    background-color: #6d6daf;
}

.contItems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contador{
    width: fit-content;
}

.cardItem{
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}
.cardItem:hover{
  box-shadow: 0 0 20px rgba(255, 60, 60, 0.5); 
}