.navStyle-classic{
    width:100%;
    min-height:10vh;
    background-color: #6d6daf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.navStyle-vip{
    width:100%;
    min-height:100px;
    background-color:#856222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.ulStyle{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.ulStyle li{
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

.ulStyle li:hover{
    font-size: 20px;
    transition: font-size 0.5s ease, color 1s ease;
    color: rgb(238, 131, 131);
}

.ulStyle li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.ulStyle li:hover:before{
    transform: scaleX(1)
}

.to-vip{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: blueviolet;
}

.to-classic{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: orange;
}

.buttonVip{
    border-radius: 10px;
}

.conte{
    position: relative;
}

.irHome .border{
    position: absolute;
    left: 0;
    background: #acf789;
    transition: transform var(--transition-duration) ease-in-out;
}

.irHome .border-top,
.irHome .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
}

.irHome .border-left,
.irHome .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
}

.irHome .border-top,
.irHome .border-left,
.irHome .border-right {
    top: 0;
}

.irHome .border-bottom{
    bottom: 0;
    transform-origin: bottom right;
}

.irHome .border-top{
    transform-origin: top left;
}

.irHome .border-left{
    transform-origin: bottom left;
}

.irHome .border-right{
    left: auto;
    right: 0;
    transform-origin: top right;
}

:root {
    --transition-duration: 0.2s;
    --transition-delay: 0.2s;
}

.irHome:hover .border-top,
.irHome:hover .border-bottom {
    transform: scaleX(1);
}

.irHome:hover .border-left,
.irHome:hover .border-right {
    transform: scaleY(1);
}

.irHome:hover .border-right{
    transition-delay: var(--transition-delay);
}

.irHome:hover .border-bottom{
    transition-delay: calc(var(--transition-delay)*2);
}

.irHome:hover .border-left{
    transition-delay: calc(var(--transition-delay)*3);
}